# Environment and secrets
.env

# Virtual env / project folder
ML4Good/

# Python
__pycache__/
*.py[cod]
*.pyo
.eggs/
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
